:root {
    --WHITESMOKE: #F2F0F0; /* Content */
    --CARIBBEANCURRENT: #006D77; /* Elements */
    --LIGHTBLUE: #B8DEDC; /* Header */
    --COOLGRAY: #99A1D2; /* Background */
    --TIMBERWOLF: #d7d7d7; /* Shadows */
}