@import './Colors.css';

#root {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 60em;
  height: fit-content;
  background-color: white;
  border: 0.2vw solid transparent;
  box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw #0000002f;
  border-radius: 0.25vw;
  padding: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  margin-bottom: 10em;

  @media screen and (max-width: 1024px) {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

.header-Navigator {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.nav-Button {
  float: left;
}

.dashCard-Div {
  background-size: 100%;
  background-position: center;
  background-position-y: top;
  margin: 5%;
  background-repeat: no-repeat;
  height: 15em;
  width: 20em;
  box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw #0000002f;
  border-radius: 0.25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}
.dashCard-Div:hover {
  transform: scale(1.1);
}
.dashCard-Div:active {
  transition: transform 0.1s;
  transform: scale(0.9);
}

.createCard-Div {
  background-size: 25%;
  background-position: center;
  background-position-y: center;
  margin: 5%;
  background-repeat: no-repeat;
  height: 15em;
  width: 20rem;
  box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw #0000002f;
  border-radius: 0.25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}
.createCard-Div:hover {
  transform: scale(1.1);
}
.createCard-Div:active {
  transition: transform 0.1s;
  transform: scale(0.9);
}

#postCard {
  width: 60%;
  height: fit-content;
  background-color: white;
  border: 0.2vw solid transparent;
  box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw #0000002f;
  border-radius: 0.25vw;
  padding: 3%;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  overflow-wrap: break-word;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2%;
  margin-top: 10em;
  margin-bottom: 10em;
  transition: all 1s;

  @media screen and (max-width: 1024px) {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

#editPostCard {
  width: 60%;
  height: fit-content;
  background-color: white;
  border: 0.2vw solid transparent;
  box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw #0000002f;
  border-radius: 0.25vw;
  padding: 3%;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: start;
  overflow-wrap: break-word;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2%;
  grid-row-gap: 4%;
  margin-top: 10em;
  margin-bottom: 10em;

  @media screen and (max-width: 1024px) {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

#login-Div {
  display: flex;
  flex-direction: column;
  text-align: start;
}

#headerImg {
  height: 40%;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}